:host {
  display: flex;
  height: 70px;
  background: var(--background-primary);
  position: sticky;
  top: 0;
  z-index: 8
}

.top_bar_leftSide {
  display: flex;
  align-items: center;
  gap: 10px;

  &_button:hover {
    cursor: pointer;
    color: var(--accent);
    text-decoration: underline var(--accent);
    text-underline-offset: 4px
  }

  & img {
    cursor: pointer
  }
}


.top_bar_rightSide {
  margin-left: auto;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_bar_rightSide img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}