:root {
  --background-primary: #131418;
  --Background-secondary: #18191C;
  --border: #2E3334;
  --text-regular: #FFFFFF;
  --text-black: #000000;
  --text-disabled: #FFFFFF;
  --accent: #66F3D1;
  --danger: #F36666;
}
