*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  background: var(--background-primary);
  color: var(--text-regular);
}

button, input, label, select, textarea {
  font: inherit;
}
