@import "_reset";

@import "_fonts";
@import "_typography";

@import "_colors";



.achiButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 30px;
  cursor: pointer;
  &_Accent {
    background: var(--accent);
    color: var(--background-primary);
  }
  &:hover {
    color: var(--accent);
    background: var(--background-primary);
  }
}


.achiInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 40px;
  background: inherit;
  color: var(--text-regular);
  border: inherit;
  border-bottom: 1px solid var(--Background-secondary);
  outline:none;
  &:focus{
    border-bottom: 1px solid var(--accent);
  }
  &_bad{
    border-bottom: 1px solid var(--danger);
    color: var(--danger);
  }
}