<div class="content">
  <router-outlet />
</div>

<!--<label>Spend. Buy. Share with everyone. "label"</label>-->
<!--<div class="caption">Spend. Buy. Share with everyone. ".caption"</div>-->

<!--<div class="regular-text">Spend. Buy. Share with everyone. ".regular-text"</div>-->

<!--<i>Spend. Buy. Share with everyone. "i"</i>-->
<!--<div class="italic-text">Spend. Buy. Share with everyone. ".italic-text"</div>-->

<!--<b>Spend. Buy. Share with everyone. "b"</b>-->
<!--<div class="bold-text">Spend. Buy. Share with everyone. ".bold-text"</div>-->

<!--<h4>Spend. Buy. Share with everyone. "h4"</h4>-->
<!--<div class="header-4">Spend. Buy. Share with everyone. ".header-4"</div>-->

<!--<h3>Spend. Buy. Share with everyone. "h3"</h3>-->
<!--<div class="header-3">Spend. Buy. Share with everyone. ".header-3"</div>-->

<!--<h2>Spend. Buy. Share with everyone. "h2"</h2>-->
<!--<div class="header-2">Spend. Buy. Share with everyone. ".header-2"</div>-->

<!--<h1>Spend. Buy. Share with everyone. "h1"</h1>-->
<!--<div class="header-1">Spend. Buy. Share with everyone. ".header-1"</div>-->
